.booking__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: var(--section-max-width);
}

.booking ul {
  list-style: none;
  padding: 0;
}


.booking__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--c-white-txt);
  margin-bottom: 40px;
}

.booking {
  background-color: var(--с-purple-dark-bg);
  padding-bottom: 80px;
}

.booking__form legend{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--c-white-txt);
  margin-bottom: 40px;
}


.booking__hall-type {
  display: flex;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background-color: var(--c-white-bg);;
  justify-content: space-around;
  align-items: center;
  color: var(--с-main-black-txt);
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid transparent;
}

.booking__hall-set {
  display: flex;
  max-width: var(--section-max-width);
  flex-flow: row wrap;
  column-gap: 60px;
  margin-bottom: 60px;
}

.booking__device-set fieldset legend {
  text-align: left;
  margin-bottom: 23px;
}

.booking__device-set {
  display: flex;
  max-width: var(--section-max-width);
  flex-flow: row wrap;
  column-gap: 100px;
  justify-content: space-between;
  margin-bottom: 67px;
}

.booking__set-one {
  width: 280px;
}
.booking__set-two, .booking__set-three {
  width: 300px;
}


.booking__set-one input[type="radio"]{
  width: 27px;
  height: 27px;
}
.booking__set-two input[type="checkbox"], .booking__set-three input[type="checkbox"] {
  width: 25px;
  height: 25px;
}


.booking__device-list{
  font-size: 22px;
  line-height: 25px;
  color: var(--c-white-txt);
}

.booking__device-list label {
 display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
}

.booking__device-list li:not(:last-child) {
  margin-bottom: 20px;
}

.booking__device-list li span{
  padding-left: 12px;
}


.booking__personal-data {
  display: grid;
  grid-template-columns: 300px 280px 300px;
  grid-template-rows: 74px 74px 60px;
  max-width: var(--section-max-width);;
  flex-flow: row wrap;
  row-gap: 36px;
  column-gap: 50px;
  margin: auto;
  justify-content: space-between;
  grid-template-areas:
  "booking__date-time booking__name--name booking__tel--tel"
  "booking__count-ppl booking__name--sir-name booking__tel--e-mail"
  ". . booking__btn";
}

.booking__name--name {
  grid-area: booking__name--name;
}
.booking__tel--tel {
  grid-area: booking__tel--tel;
}

.booking__count-ppl {
  grid-area: booking__count-ppl;
  align-self: flex-end;
}

.booking__name--sir-name {
  grid-area: booking__name--sir-name;
}
.booking__tel--e-mail {
  grid-area: booking__tel--e-mail;
}

.booking__personal-data label span{
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.booking__personal-data input {
  height: 52px;
}


.booking__date-time{
  display: flex;
  flex-flow: row wrap;
  column-gap: 32px;
  width: 300px;
  align-content: flex-end;
  grid-area: booking__date-time;
}

.date-time__date input, .date-time__time input{
  width: 134px;
}

.date-time__quantity input{
  width: 300px;
}

.booking__name {
  display: flex;
  flex-flow: column wrap;
  width: 280px;
  row-gap: 14px;
}

.booking__name  input{
  width: 280px;
}

.booking__name span {
  margin-bottom: 6px;
}

.booking__tel{
  display: flex;
  flex-flow: column wrap;
  row-gap: 14px;
  width: 300px;
}

.booking__tel input{
  width: 300px;
}

.booking__tel span {
  margin-bottom: 6px;
}

.booking__btn {
  width: 300px;
  height: 60px;
  background-color: var(--c-white-bg);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--с-purple-medium-txt);
  transition: background-color 0.2s ease, border 0.2s ease-out;
  grid-area: booking__btn;
}

.booking__btn:hover {
  background-color: #EADEED;
  border: 3px solid var(--с-purple-medium-border-outline);;
}

.booking__btn:active {
  background-color: #EADEED;
}

.booking__btn:focus {
  border: 3px solid var(--с-purple-medium-border-outline);;
}

.booking__hall-type {
  transition: background-color 0.2s ease, border 0.2s ease-out, color 0.2s ease-in;
}

.booking__hall-type:hover {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}


.booking__hall-type:active {
  background-color: var(--с-purple-medium-bg);
  border: 3px solid var(--c-white-border-outline);;
  color: var(--c-white-txt);
}

#booking__vibe:checked + .booking__hall-vibe {
  background: var(--с-purple-medium-bg);;
  color: var(--c-white-txt);
  border: 3px solid var(--c-white-border-outline);;
}

#booking__vibe:focus-visible + .booking__hall-vibe {
  border: 3px solid #640AA3;
}

#booking__sw:checked + .booking__hall-sw {
  background: var(--с-purple-medium-bg);;
  color: var(--c-white-txt);
  border: 3px solid var(--c-white-border-outline);;
}

#booking__sw:focus + .booking__hall-sw{
  border: 3px solid #640AA3;
}

#booking__ww:checked + .booking__hall-ww {
  background: var(--с-purple-medium-bg);;
  color: var(--c-white-txt);
  border: 3px solid var(--c-white-border-outline);;
}

#booking__ww:focus + .booking__hall-ww {
  border: 3px solid #640AA3;
}

#booking__ns:checked + .booking__hall-ns {
  background: var(--с-purple-medium-bg);;
  color: var(--c-white-txt);
  border: 3px solid var(--c-white-border-outline);;
}

#booking__ns:focus + .booking__hall-ns {
  border: 3px solid #640AA3;
}

.booking__personal-data input {
  transition: outline 0.2s ease-in-out, border 0.2s ease-in-out;
}

.booking__personal-data input:focus{
  border: 2px solid var(--с-purple-bright-border-outline);;
  outline: none;
}

.booking__device-set input:focus {
  outline: 1px solid var(--с-purple-bright-border-outline);;
}


@media (max-width:1439px) {
  .booking__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .booking__form legend{
    margin-bottom: 26px;
  }

  .booking__hall-type {
    width: 180px;
    height: 44px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .booking__hall-set {
    column-gap: 61px;
  }

  .booking__device-set {
    column-gap: 35px;
    margin-bottom: 60px;
  }

  .booking__set-one {
    width: 280px;
  }
  .booking__set-two {
    width: 298px;
  }
  .booking__set-three {
    width: 255px;
  }

  .booking__personal-data {
    display: grid;
    grid-template-columns: 300px 251px 254px;
    grid-template-rows: 74px 74px 50px;
  }

  .booking__name, .booking__name  input {
    width: 251px;
  }

  .booking__tel, .booking__tel input{
    width: 254px;
  }

  .booking__btn {
    width: 254px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width:1023px) {
  .booking__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .booking__form legend{
    margin-bottom: 30px;
  }

  .booking__hall-type {
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .booking__hall-set {
    column-gap: 29px;
  }

  .booking__set-one{
    margin-bottom: 32px;
  }

  .booking__device-set .booking__device-list input {
    width: 40px;
    height: 40px;
  }

  .booking__personal-data {
    grid-template-columns: 280px 300px;
    grid-template-rows: 52px 74px 74px 60px;
    row-gap: 48px;
    column-gap: 106px;
    grid-template-areas:
    "booking__date-time  booking__count-ppl"
    "booking__name--name booking__tel--tel"
    "booking__name--sir-name booking__tel--e-mail"
    ". booking__btn";
  }

  .booking__date-time{
    column-gap: 12px;
    width: 280px;
    margin-bottom: calc(42px - 48px);
  }

  .booking__count-ppl {
    margin-bottom: calc(42px - 48px);
  }

  .booking__name, .booking__name  input {
    width: 280px;
  }

  .booking__name--name {
    align-self: flex-end;
    margin-bottom: calc(14px - 48px);
  }

  .booking__tel--tel {
    align-self: flex-end;
    margin-bottom: calc(14px - 48px);
  }

  .booking__tel, .booking__tel input{
    width: 300px;
  }

  .booking__btn {
    width: 300px;
    height: 60px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width:767px) {
  .booking__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
  }
  .booking__form legend{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .booking__hall-type {
    width: 130px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
  }

  .booking__hall-set {
    column-gap: 20px;
    row-gap: 14px;
  }

  .booking__set-one, .booking__set-two{
    margin-bottom: 25px;
  }

  .booking__device-set .booking__device-list input {
    width: 30px;
    height: 30px;
  }

  .booking__device-list li span {
    font-size: 16px;
    line-height: 18px;
  }

  .booking__personal-data {
    grid-template-columns: 280px;
    grid-template-rows: 52px 52px 74px 74px 74px 74px 60px;
    row-gap: 35px;
    column-gap: 0;
    grid-template-areas:
    "booking__date-time"
    "booking__count-ppl"
    "booking__name--name"
    "booking__tel--tel"
    "booking__name--sir-name"
    "booking__tel--e-mail"
    "booking__btn";
  }

  .booking__date-time{
    margin-bottom: calc(15px - 35px);
    align-self: flex-end;
  }

  .date-time__quantity input{
    width: 280px;
  }

  .booking__count-ppl {
    margin: 0;
    align-self: flex-start;
  }


  .booking__name--name {
    margin-bottom: calc(15px - 35px);
    align-self: flex-end;
  }

  .booking__tel--tel {
    align-self: flex-start;
    margin: 0;
  }

  .booking__name  input, .booking__tel, .booking__tel input{
    width: 280px;
  }

  .booking__name--sir-name {
    margin-bottom: calc(15px - 35px);
    align-self: flex-end;
  }

  .booking__tel--e-mail {
    margin: 0;
    align-self: flex-start;
  }

  .booking__btn {
    width: 280px;
    font-size: 18px;
    line-height: 26px;
    align-self: flex-end;
  }
}
