.header {
  padding: 30px 0 25px 0;
  /*padding-bottom: 8px;*/
}

.header .container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header__menu-btn {
  display: none;
}
.header__logo {
    width: 120px;
    height: 66px;
    background-image: url('__img-header/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    outline: transparent;
}

.header__list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 40px;
}

.header__item {
font-size: 22px;
line-height: 50px;
text-transform: uppercase;
}

.header__call-back-order {
    width: 280px;
    height: 55px;
    border: 3px solid var(--с-purple-bright-border-outline);;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--c-white-txt);
}

.header__menu-btn {
  width: 54px;
  height: 29px;
  background-image: url("__img-header/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  outline: transparent;
  border: transparent;
  box-sizing: border-box;
}

.header__call-back-order {
  transition: background-color 0.2s ease, border 0.2s ease-out;
}

.header__item a {
  transition: color 0.2s ease-in;
}

.header__logo, .header__item a {
  transition:  outline 0.2s ease-in-out;
}

.header__logo:focus {
  outline: 1px solid var(--с-purple-bright-border-outline);;
}

.header__call-back-order:hover {
  background-color: var(--с-purple-medium-bg);
  border: 3px solid var(--с-purple-medium-border-outline);;
}

.header__call-back-order:active {
  background-color: #640AA3;
  border: none;
  outline: none;
}


.header__call-back-order:focus {
  background-color: var(--с-purple-medium-bg);
  border: none;
  outline: none;
}

.header__item a:hover {
  color:var(--с-purple-bright-a-hover);;
}

.header__item a:focus {
  outline: 2px solid var(--с-purple-bright-border-outline);;
  border-radius: 5px;
}

@media (max-width:1439px) {
  .header {
    padding: 30px 0 15px 0;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__list {
    column-gap: 20px;
  }

  .header__item {
    font-size: 18px;
    line-height: 22px;
  }

  .header__call-back-order {
    width: 229px;
    height: 45px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width:1023px) {

  .header {
    padding: 32px 0 15px 0;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__navigation {
    order: -1;
  }

  .header__menu-btn {
    display: block;
  }

  .header__list {
    display:none;
  }

}


@media (max-width:767px) {

  .header {
    padding: 20px 0 10px 0;
  }

  .header__call-back-order {
    display: none;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__menu-btn {
    width: 29px;
    height: 20px;
  }
}
