.header {
    padding-top: 38px;
    padding-bottom: 8px;
}
.header .container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 120px;
    height: 66px;
    background-image: url('__img-header/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    outline: transparent;
}

.header__list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 40px;
}

.header__item {
font-size: 22px;
line-height: 50px;
text-transform: uppercase;
}

.header__call-back-order {
    width: 280px;
    height: 55px;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__call-back-order {
  transition: background-color 0.2s ease, border 0.2s ease-out;
}

.header__item a {
  transition: color 0.2s ease-in;
}

.header__logo, .header__item a {
  transition:  outline 0.2s ease-in-out;
}

.header__logo:focus {
  outline: 1px solid #CD06FF;
}

.header__call-back-order:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.header__call-back-order:active {
  background-color: #640AA3;
  border: none;
  outline: none;
}


.header__call-back-order:focus {
  background-color: #6C0287;
  border: none;
  outline: none;
}

.header__item a:hover {
  color:#CD06FF
}

.header__item a:focus {
  outline: 2px solid #CD06FF;
  border-radius: 5px;
}
