.contacts {
  padding-top: 21px;
  padding-bottom: 55px;
  background-image: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 170px;
}

.contacts__map {
  width: 680px;
  height: 274px;
  background-color: var(--c-white-bg);
  background-image: url("__img-contacts/map.jpg");
}

.contacts__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts__wrapper {
  margin-bottom: 40px;
}

.contacts__wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__wrapper p > a {
  text-decoration: none;
  color: var(--c-white-txt);
}

.contacts__subtitle {
  display: flex;
  flex-flow: row wrap;

}

.contacts__wrapper p:nth-child(1) {
  margin-bottom: 40px;
  white-space: pre-line;
  min-height: 56px;
}

.contacts__wrapper p:nth-child(1):before {
  content: "";
  background-image: url("__img-contacts/footer_location.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-right: 28px;
  width: 32px;
  height: 32px;
  align-self: center;
}

.contacts__wrapper p:nth-child(2) {
  margin-bottom: 11px;
  min-height: 28px;
}

.contacts__wrapper p:nth-child(2):before {
  content: "";
  background-image: url("__img-contacts/footer_bx_bxs-phone-call.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 28px;
}

.contacts__wrapper p:nth-child(3) {
  min-height: 28px;
  margin-bottom: 35px;
}


.contacts__wrapper p:nth-child(3):before {
  content: "";
  background-image: url("__img-contacts/footer_mail.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-right: 28px;
  width: 32px;
  height: 32px;

}

.contacts ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: nowrap;
}

.contacts ul li {
  display: block;
}

.contacts .contacts__socials-item {
  margin-right: 26px;
}

.contacts .contacts__socials-item, .contacts .contacts__socials-item a {
  width: 50px;
  height: 50px;
}

.contacts .contacts__socials-item a {
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.contacts__inst-icon svg, .contacts__vk-icon svg, .contacts__fb-icon svg, .contacts__tg-icon svg {
  transition: color 0.2s ease, outline 0.2s ease-in-out;
}

.contacts__inst-icon:hover, .contacts__vk-icon:hover, .contacts__fb-icon:hover, .contacts__tg-icon:hover
{
  color: #EADEED;
  outline: none;
}

.contacts__inst-icon svg:active, .contacts__vk-icon svg:active, .contacts__fb-icon svg:active, .contacts__tg-icon svg:active
{
  color: var(--с-purple-bright-txt);
  outline: none;
}

.contacts__inst-icon:focus, .contacts__vk-icon:focus, .contacts__fb-icon:focus, .contacts__tg-icon:focus
{
  color: #EADEED;
  outline: 1px solid var(--с-purple-bright-border-outline);
}

.contacts__credentials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contacts__credentials p:last-of-type {
  display: inline-flex;
  flex-flow: column wrap;
  row-gap: 6px;
  text-align: right;
  width: 157px;
  font-size: 14px;
  line-height: 16px;
}

.contacts__subtitle a:hover {
  color:var(--с-purple-bright-a-hover);
}

.contacts__credentials a:hover {
  color:var(--с-purple-bright-a-hover);
}

.contacts__subtitle a,
.contacts__credentials a{
  outline: transparent;
}

.contacts__subtitle a:focus,
.contacts__credentials a:focus {
  outline: 2px var(--с-purple-bright-border-outline) solid;
  border-radius: 5px;
}


@media (max-width:1439px) {
  .contacts__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .contacts .contacts__socials-item, .contacts .contacts__socials-item a, .contacts__inst-icon svg, .contacts__vk-icon svg, .contacts__fb-icon svg, .contacts__tg-icon svg {
    width: 40px;
    height: 40px;
  }

  .contacts__wrapper p {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__wrapper p:nth-child(1) {
    margin-bottom: 40px;
  }
  .contacts__wrapper p:nth-child(1):before, .contacts__wrapper p:nth-child(2):before, .contacts__wrapper p:nth-child(3):before {
    margin-right: 13px;
    width: 26px;
    height: 26px;
  }

  .contacts__map {
    width: 542px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contacts {
    padding-top: 10px;
    padding-bottom: 18px;
  }

}

@media (max-width:1023px) {
  .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .contacts__text {
    width: 100%;
  }
  .contacts__wrapper p:nth-child(1):before {
    align-self: flex-start;
  }

  .contacts__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .contacts__subtitle {
    width: 380px;
  }
  .contacts__subtitle {
    justify-content: center;
  }
  .contacts__wrapper p:nth-child(1){
    margin-bottom: 27px;
    padding-left: 30px;
  }

  .contacts__map {
    width: 688px;
    height: 337px;
  }
  .contacts__socials-list {
    margin-bottom:  30px;
  }
  .contacts {
    padding-top: 10px;
    padding-bottom: 18px;
  }
}

@media (max-width:767px) {
  .contacts__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contacts .contacts__socials-item {
    margin-right: 20px;
  }
  .contacts .contacts__socials-item, .contacts .contacts__socials-item a, .contacts__inst-icon svg, .contacts__vk-icon svg, .contacts__fb-icon svg, .contacts__tg-icon svg {
    width: 30px;
    height: 30px;
  }

  .contacts__wrapper p {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__wrapper p:nth-child(1) {
    margin-bottom: 10px;
    min-height: 37px;
    padding-left: 55px;
  }

  .contacts__wrapper p:nth-child(2) {
    margin-bottom: 10px;
    min-height: 18px;
  }
  .contacts__wrapper p:nth-child(3) {
    margin-bottom: 10px;
    min-height: 18px;
  }

  .contacts__wrapper p:nth-child(1):before, .contacts__wrapper p:nth-child(2):before, .contacts__wrapper p:nth-child(3):before {
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }
  .contacts__subtitle {
    width: 280px;
  }
  .contacts__map {
    width: 280px;
    height: 194px;
  }
  .contacts__socials-list {
    margin-bottom:  35px;
  }

  .contacts__credentials {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .contacts__credentials p{
  font-size: 12px;
  line-height: 16px;
}
  .contacts__credentials p:first-of-type {
    margin-bottom: 19px;
  }

  .contacts__credentials p:last-of-type {
    text-align: center;
    width: 100%;
    row-gap: 5px;
  }

  .contacts {
    padding-top: 7px;
    padding-bottom: 24px;
  }
}

