.halls__item-block {
  display: inline-block;
  position: relative;
  width: 580px;
  min-height: 349px;
}

.halls__list {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.halls__item-block {
  font-family: 'Arial', sans-serif;
  list-style: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.halls__item-block span {
  position: absolute;
  width: 100%;
  top: 135px;
  right: 0;
}

.halls__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.halls__80-s-vibes {
  background: var(--с-main-black-bg) url("__img-halls/80-s-vibes.jpg") center center/cover no-repeat content-box padding-box;
}

.halls__star-wars {
  background: var(--с-main-black-bg) url("__img-halls/star-wars.jpg") center center/cover no-repeat content-box padding-box;
}

.halls__wild-west {
  background: var(--с-main-black-bg) url("__img-halls/wild-west.jpg") center center/cover no-repeat content-box padding-box;
}

.halls__neon-style {
  background: var(--с-main-black-bg) url("__img-halls/neon-style.jpg") center center/cover no-repeat content-box padding-box;
}




