.contacts {
  padding-top: 19px;
  padding-bottom: 10px;
}

.contacts__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 170px;
}

.contacts__map {
  width: 680px;
  height: 274px;
  background-color: white;
  background-image: url("./__img-contacts/map.jpg");
}

.contacts__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /*margin-bottom: 54px;*/
  text-align: center;
  text-transform: uppercase;
}

.contacts__wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__wrapper p > a {
  text-decoration: none;
  color: #FFFFFF;
}

.contacts__wrapper p:nth-child(1) {
  position: relative;
  margin-bottom: 39px;
  left: 66px;
  white-space: pre-line;
}

.contacts__wrapper p:nth-child(1):before {
  content: url("__img-contacts/footer_location.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: 14px;
}

.contacts__wrapper p:nth-child(2) {
  position: relative;
  margin-bottom: 11px;
  left: 66px;
}

.contacts__wrapper p:nth-child(2):before {
  content: url("__img-contacts/footer_bx_bxs-phone-call.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: -2px;
}

.contacts__wrapper p:nth-child(3) {
  position: relative;
  left: 66px;
  margin-bottom: 35px;
}


.contacts__wrapper p:nth-child(3):before {
  content: url("__img-contacts/footer_mail.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: 4px;
}

.contacts ul {
  list-style: none;
  padding-inline-start: 0;
}

.contacts ul li {
  display: inline-block;
}

.contacts .contacts__socials-item a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 26px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/*.inst-icon {*/
/*  background-image: url("__img-halls/entypo-social_instagram-with-circle.svg");*/
/*}*/

/*.vk-icon {*/
/*  background-image: url("__img-halls/entypo-social_vk-with-circle.svg");*/
/*}*/

/*.fb-icon {*/
/*  background-image: url("__img-halls/entypo-social_fb-with-circle.svg");*/
/*}*/

/*.tg-icon {*/
/*  background-image: url("__img-halls/entypo-social_tg-with-circle.svg");*/
/*}*/

.contacts__inst-icon, .contacts__vk-icon, .contacts__fb-icon, .contacts__tg-icon {
  color: #FFFFFF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__credentials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contacts__credentials p:last-of-type {
  white-space: pre;
  font-size: 14px;
  line-height: 16px;
}


