.contacts {
  padding-top: 19px;
  padding-bottom: 10px;
  background-image: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 170px;
}

.contacts__map {
  width: 680px;
  height: 274px;
  background-color: var(--c-white-bg);
  background-image: url("./__img-contacts/map.jpg");
}

.contacts__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /*margin-bottom: 54px;*/
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts__wrapper {
  margin-bottom: 40px;
}

.contacts__wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__wrapper p > a {
  text-decoration: none;
  color: var(--c-white-txt);
}

.contacts__wrapper p:nth-child(1) {
  position: relative;
  margin-bottom: 39px;
  left: 66px;
  white-space: pre-line;
}

.contacts__wrapper p:nth-child(1):before {
  content: url("__img-contacts/footer_location.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: 14px;
}

.contacts__wrapper p:nth-child(2) {
  position: relative;
  margin-bottom: 11px;
  left: 66px;
}

.contacts__wrapper p:nth-child(2):before {
  content: url("__img-contacts/footer_bx_bxs-phone-call.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: -2px;
}

.contacts__wrapper p:nth-child(3) {
  position: relative;
  left: 66px;
  margin-bottom: 35px;
}


.contacts__wrapper p:nth-child(3):before {
  content: url("__img-contacts/footer_mail.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 32px;
  left: -60px;
  top: 4px;
}

.contacts ul {
  list-style: none;
  padding-inline-start: 0;
}

.contacts ul li {
  display: inline-block;
}

.contacts .contacts__socials-item a {
  width: 50px;
  height: 50px;
  margin-right: 26px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.contacts__inst-icon svg, .contacts__vk-icon svg, .contacts__fb-icon svg, .contacts__tg-icon svg {
  transition: color 0.2s ease, outline 0.2s ease-in-out;
}

.contacts__inst-icon:hover, .contacts__vk-icon:hover, .contacts__fb-icon:hover, .contacts__tg-icon:hover
{
  color: #EADEED;
  outline: none;
}

.contacts__inst-icon svg:active, .contacts__vk-icon svg:active, .contacts__fb-icon svg:active, .contacts__tg-icon svg:active
{
  color: var(--с-purple-bright-txt);
  outline: none;
}

.contacts__inst-icon:focus, .contacts__vk-icon:focus, .contacts__fb-icon:focus, .contacts__tg-icon:focus
{
  color: #EADEED;
  outline: 1px solid var(--с-purple-bright-border-outline);
}

.contacts__credentials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contacts__credentials p:last-of-type {
  /*white-space: pre;*/
  text-align: right;
  width: 157px;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.contacts__subtitle a:hover {
  color:var(--с-purple-bright-a-hover);
}

.contacts__credentials a:hover {
  color:var(--с-purple-bright-a-hover);
}

.contacts__subtitle a,
.contacts__credentials a{
  outline: transparent;
}

.contacts__subtitle a:focus,
.contacts__credentials a:focus {
  outline: 2px var(--с-purple-bright-border-outline) solid;
  border-radius: 5px;
}


