.about-us__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  grid-area: about-us__title;
}

.about-us__cover {
  display: inline-block;
  width: 600px;
  height: 596px;
  background-image: url("__img-about-us/about-us-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: about-us__cover ;
}

.about-us__subtitle {
  display: inline-block;
  max-width: 500px;
  font-size: 20px;
  line-height: 28px;
}
.about-us__subtitle--1 {
  grid-area: about-us__subtitle--1;
}
.about-us__subtitle--2 {
  grid-area: about-us__subtitle--2;
}

.about-us__quote--text-style {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
  max-width: 444px;
  grid-area: about-us__quote;
}

.about-us__symbol, .about-us__quote--text-style:first-letter {
  display: inline;
  color: var(--с-purple-medium-txt);
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;

}

.about-us__quote:before {
  display: inline;
  position: relative;
  left: 0;
  content: '“ ';
  color: var(--с-purple-medium-txt);
}

.about-us__author-sign {
  display: flex;
  padding-left: 111px;
  margin-right: 0;
  grid-area: about-us__author-sign;
}

.about-us__author-sign img {
  height: 80px;
  position: relative;
  margin-right: 20px;
  align-self: center;
}

.about-us__author-sign figcaption {
  display: inline-block;
  align-self: center;
  width: 234px;
  font-size: 20px;
  line-height: 32px;
}

@media (max-width:1439px) {
  .about-us__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .about-us__cover {
    display: inline-block;
    width: 420px;
    height: 417px;
  }
  .about-us__subtitle {
    display: inline-block;
    max-width: 444px;
    font-size: 18px;
    line-height: 24px;
  }

  .about-us__quote--text-style {
    font-size: 30px;
    line-height: 36px;
    max-width: 444px;
  }

  .about-us__symbol, .about-us__quote--text-style:first-letter {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  .about-us__author-sign {
    padding-left: 111px;
    margin-right: 0;
  }

  .about-us__author-sign img {
    height: 70px;
    position: relative;
    margin-right: 20px;
  }

  .about-us__author-sign figcaption {
    display: inline-block;
    width: 224px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width:1023px) {
  .about-us__subtitle--1 {
    align-self: flex-end;
    margin-bottom: 30px;
  }

  .about-us__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .about-us__cover {
    display: inline-block;
    width: 382px;
    height: 380px;
  }

  .about-us__subtitle {
    display: inline-block;
    max-width: 278px;
    font-size: 16px;
    line-height: 22px;
  }
  .about-us__quote--text-style {
    padding-top: 30px;
    font-size: 32px;
    line-height: 36px;
    white-space: normal;
    max-width: 100%;
  }

  .about-us__symbol, .about-us__quote--text-style:first-letter {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
  }
  .about-us__author-sign {
    padding-left: 0;
    margin-right: 0;
  }

  .about-us__author-sign img {
    height: 70px;
    position: relative;
    margin-right: 25px;
  }

  .about-us__author-sign figcaption {
    display: inline-block;
    width: 225px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width:767px) {

  .about-us__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about-us__subtitle--1 {
    align-self: flex-start;
    margin-bottom: 30px;
  }

  .about-us__subtitle--2 {
    margin-bottom: 15px;
  }

  .about-us__cover {
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-bottom: 21px;
  }

  .about-us__subtitle {
    display: inline-block;
    max-width: 278px;
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__quote--text-style {
    padding-top: 0;
    font-size: 18px;
    line-height: 26px;
    white-space: normal;
    margin-bottom: 9px;
  }

  .about-us__symbol, .about-us__quote--text-style:first-letter {
    font-weight: 900;
    font-size: 22px;
    line-height: 50px;
  }

  .about-us__author-sign img {
    height: 56px;
    position: relative;
    margin-right: 11px;
  }

  .about-us__author-sign figcaption {
    display: inline-block;
    width: 213px;
    font-size: 12px;
    line-height: 16px;
  }
}
