.general__back-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 226px;
  height: 28px;
  transition: color 0.2s ease-in;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--c-white-txt);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.general__back-link:hover {
  color: var(--с-purple-bright-a-hover);
}

.general__back-link:focus {
  outline: 2px var(--с-purple-bright-border-outline) solid;
  border-radius: 5px;
}
.general__nav-block {
  margin-bottom: 20px;
}
.general__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 750px;
}

.general--overlay {
  background: url("./__img-general/neon-style-overlay.jpg") center center/cover no-repeat content-box content-box;
  background-position-y: 47px;
  background-size: cover, 750px;
}

.general__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.disclaimer__block {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}


@media (max-width:1439px) {
  .general__wrapper {
    min-height: 534px;
  }
  .general--overlay {
    background-size: auto, 534px;
  }
  .disclaimer__block {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width:1023px) {
  .general__wrapper {
    min-height: 402px;
  }
  .general--overlay {
    background-size: auto, 402px;
  }
  .general__back-link {
    width: 178px;
    font-size: 16px;
    line-height: 28px;
  }
  .general__title {
    font-size: 60px;
    line-height: 72px;
  }
  .disclaimer__block {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width:767px) {
  .general__wrapper {
    height: 100%;
  }
  .general--overlay {
    background-size: cover, 168px;
  }
  .general__back-link svg{
    width: 16px;
  }
  .general__back-link {
    width: 124px;
    font-size: 12px;
    line-height: 16px;
  }
  .general__title {
    font-size: 30px;
    line-height: 36px;
  }
  .disclaimer__block {
    font-size: 16px;
    line-height: 24px;
  }
}


