.devices .container {
  display: block;
}

.devices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  white-space: pre;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.devices__wrapper {
  height: calc(228px * 2 + 40px + 70px);
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}

.devices__flex-block {
  display:flex;
  flex-flow:row wrap;
  align-items:flex-start;
  min-width: 380px;
  height: 228px;
  transition: transform 0.4s ease-in-out;
}

.devices__flex-block:hover {
  transform: scale(1.1);
}

.devices__text {
  margin-top: 166px;
  white-space: pre-line;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.devices__flex-block--vr {
  background-image: url("__img-devices/vr-ochki.jpg");
}

.devices__flex-block--au5-1 {
  background-image: url("__img-devices/au5-1.jpg");
  align-self: flex-end;
}

.devices__flex-block--karaoke {
  background-image: url("__img-devices/karaoke.jpg");
}

.devices__flex-block--desktop {
  background-image: url("__img-devices/desktop-games.jpg");
}

.devices__flex-block--cinema {
  background-image: url("__img-devices/cinema.jpg");
  align-self: flex-end;
}

.devices__flex-block--ps5 {
  background-image: url("__img-devices/ps5.jpg");
}

@media (max-width:1439px) {
  .devices__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .devices__wrapper {
    height: calc(172px * 2 + 30px + 53px);
    display: flex;
    column-gap: 21px;
  }

  .devices__flex-block {
    position: relative;
    min-width: 287px;
    height: 172px;
  }

  .devices__text {
    margin-top: 114px;
    left: 10px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width:1023px) {
  .devices__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .devices__flex-block--mobile {
    display: block;
  }

  .devices__wrapper {
    height: 640px;
    display: flex;
    gap: 20px;
  }

  .devices__flex-block {
    min-width: 334px;
    height: 200px;
  }
  .devices__text {
    margin-top: 132px;
    padding-left: 15px;
    max-width: 290px;
  }

}

@media (max-width:767px) {

  .devices__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .devices__text {
    margin-top: 30px;
    padding-left: 5px;
    max-width: 115px;
    font-size: 10px;
    line-height: 14px;
    white-space: normal;
  }
  .devices__wrapper {
    height: 245px;
    display: flex;
    gap: 10px;
  }

  .devices__flex-block {
    min-width: 135px;
    height: 75px;
  }

  .devices__flex-block--vr,
  .devices__flex-block--au5-1,
  .devices__flex-block--karaoke,
  .devices__flex-block--desktop,
  .devices__flex-block--cinema,
  .devices__flex-block--ps5 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .devices__flex-block--au5-1 {
    align-self:  flex-start;
  }

  .devices__flex-block--cinema {
    align-self: flex-start;
  }
}



