.container {
  max-width: 1440px;
  padding: 0 130px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.about-us .container {
  column-gap: 80px;
}

.faq .container {
  flex-flow: column wrap;
}

.contacts .container {
  flex-flow: column wrap;
  justify-content: space-between;
}




