.container {
  max-width: 1440px;
  padding: 0 130px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.about-us .container {
  flex-flow: row wrap;
  column-gap: 80px;
  row-gap: 50px;
}

.halls .container {
  flex-flow: row wrap;
  row-gap: 60px;
}

.booking .container {
  padding-left: 150px;
  padding-right: 150px;
}

.reviews .container {
  flex-flow: row wrap;
  row-gap: 40px;
}

.faq .container {
  flex-flow: column wrap;
  row-gap: 40px;
}

.contacts .container {
  flex-flow: column wrap;
  row-gap: 40px;
  justify-content: space-between;
}


.container__wrapper {
  position: relative;
  height: 823px;
}

.container__wrapper--overlay-img:before {
  position: absolute;
  content: url("__img-container/main-banner-vr-big.png");
  right: 0;
  bottom: 0;
  height: 762px;
}

