.general__title:first-line {
  font-family: "Arial Black", sans-serif;
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  text-align: center;
  letter-spacing: -0.1em;
  height: 150px;
}

.general__title span {
  padding-left: 100px;
  line-height: 50px;
}

.general__title {
  width: 100%;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 30px;
}

.general__wrapper {
  /* display: flex; */
  position: relative;
  height: 823px;
}

.general__wrapper--overlay-img:before {
  position: absolute;
  content: url("__img-general/main-banner-vr-big.png");
  right: 0;
  bottom: 0;
  height: 762px;
}

.general__wrapper--overlay-img:after {
  position: absolute;
  content: url("__img-general/down.svg");
  right: 544px;
  bottom: 90px;
  height: 97px;
  cursor: pointer;
}



.general__order-btn {
  width: 374px;
  height: 80px;
  background: #6C0287;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.general__features {
  height: 174px;
  width: 415px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 40px;
  align-items: flex-start;
  margin-bottom: 150px;
}

.general__first-block {
display: flex;
flex-flow: column wrap;
align-items: center;
width: 193px;
}

.general__second-block {
display: flex;
flex-flow: column wrap;
align-self: flex-end;
align-items: center;
width: 166px;

}

.first-block__text--special {
  display: flex;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  font-variant: small-caps;
  color: #CD06FF;
}

.first-block__text {
  display: flex;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

.second-block__text--special {
  display: flex;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: #CD06FF;
}
.second-block__text {
  display: flex;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}


