.modal-window {
    margin: 0 auto;
}

.modal-window--overlay{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    background-color: rgba(242, 240, 249, 0.8);
    transform: translate(-50%, -50%);
}

.modal-window--visible {
    display: none;
}

.modal-window--close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    /*background-image: url("../../img/close.svg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    color: white;
    width: 42px;
    height: 42px;
    top: 15px;
    right: 15px;
}

.modal-window--close:hover {
    color: #CD06FF;
}

.modal-window--close:active {
    color: #840AA3;
}
.modal-window--close:focus {
    color: #840AA3;
    outline: 1px solid #CD06FF;
    outline-offset: 8px;
}

.modal-window-main--wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    padding: 45px 135px 40px 135px;
}

.modal-window__block {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    min-height: 498px;
    background: #440F51;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.modal-window__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-window__legend-name, .modal-window__legend-phone {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.modal-window__item:not(:last-child) {
    margin-bottom: 40px;
}

.modal-window__list input{
    width: 280px;
    height: 52px;
}

.modal-window__send-btn {
    width: 300px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    border: transparent;
    box-shadow: 0 0 10px 0 rgba(255,255,255,1);
}

.modal-window__item {
    display: flex;
    flex-flow: column nowrap;
}
.modal-window__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

@media (max-width:767px) {
    .modal-window--close {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
    }

    .modal-window--close svg{
        width: 30px;
        height: 30px;
    }

    .modal-window-main--wrapper {
        padding: 45px 20px 40px 20px;
    }
    .modal-window__block {
        padding: 10px;
    }

    .modal-window__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .modal-window__list input{
        width: 220px;
        height: 42px;
    }

    .modal-window__send-btn {
        width: 240px;
        height: 52px;
    }
}

