@import url('var.css');
@import url('normalize.css');
@import url('global-style.css');
@import url('container/container.css');
@import url('header/header.css');
@import url('section-general/section-general.css');
@import url('section-devices/section-devices.css');
@import url('section-halls/section-halls.css');
@import url('section-booking/section-booking.css');
@import url('section-about-us/section-about-us.css');
@import url('section-reviews/section-reviews.css');
@import url('section-faq/section-faq.css');
@import url('section-contacts/section-contacts.css');
